.ImportUsers {
    width: 200px;
    height: 50px;
    background-color: #94C37A;
    border: 1px solid #7fa451;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 25px 0;
    align-self: flex-end;
    color: white;
}

.ImportUsers label {
    cursor: pointer;
}
